@model IEnumerable<Artigos.Models.Escritor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="indexEscritorContainer">
    <p>
        @Html.ActionLink("Novo Escritor", "Register", "", new { @class = "btn btn-info" })
    </p>
    @using (Html.BeginForm("Index", "Escritor", FormMethod.Get))
    {
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                   aria-describedby="search-addon" name="nome" />
            <button type="submit" class="btn btn-outline-primary">search</button>
        </div>
    }

    <div class="indexEscritorLista">
        @foreach (var item in Model)
        {
            <div class="indexEscritorInfo text-center">
                <span>@item.Nome @item.Sobrenome</span>
                @Html.ActionLink("Detalhes", "Detalhes", new { Id = item.Id }, new { @class = "btn btn-info center" })
            </div>
        }
    </div>
</div>

