@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
}

<div class="containerParagrafo">
    <div class="paragrafoInsert">
        <p>Paragrafo <span id="erro" class="text-danger"></span></p>
        <textarea id="texto"></textarea>
        <br />
        <a id="btnCreate" class="btn btn-info" onclick="Create(@ViewBag.Id)">Cadastrar</a>
        <a id="btnExcluir" class="btn btn-info">Excluir</a>
        <a id="btnUpdate" class="btn btn-info">Atualizar</a>
        <a id="btnSair" class="btn btn-info">Sair</a>
    </div>
    <hr />
    <div class="paragrafoLista">
        <div class="listaParagrafo">
            <h6>Paragrafos</h6>
            <div id="listaParagrafo" class="containerLista1">
                @*<a onclick="Details()">
                        <div class="divLista">
                            Imagem 1
                        </div>
                    </a>*@
            </div>
        </div>
        <hr />
        <div class="listaParagrafo">
            <h6>Imagens</h6>
            <div id="listaImagem" class="containerLista2">
                @*<a onclick="DetailsImg()">
                <div class="divLista">
                    Imagem 1
                </div>
            </a>*@
            </div>
            <input id="fileUpload" type="file" style="display: none;" accept="image/jpg,image/png,image/gif">
            <a id="btnCadastroImg" class="btn btn-info btnCadastroImgFalse">Cadastrar Imagem</a>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/Paragrafo.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        GetAll(@ViewBag.Id);
        $('#btnCreate').show();
        $('#btnExcluir').hide();
        $('#btnUpdate').hide();
        $('#btnSair').hide();
        
    });
</script>
