/* GERAL */

footer {
    width: 100%;
    height: 50px;
    background-color: #1C1C1C;
    text-align: center;
    color: gray;
    position: fixed;
    bottom: 0;
}

footer p {
    margin-top: 14px;
}

hr {
    background-color: black;
}

/* PÁGINA DE LOGIN */

.box {
    width: 90%;
    margin: auto;
    margin-top: 80px;
    border: 1px solid purple;
    border-radius: 0 0 20px 20px;
    margin-bottom: 80px;
}

.boxCadastro {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    border: 1px solid purple;
    border-radius: 0 0 20px 20px;
    margin-bottom: 80px;
}

.boxTitle {
    text-align: center;
}

.boxTitle h3 {
    font-size: 1.5rem;
}

.boxBody {
    padding: 20px 20px 0 20px;
}

.estilo ul li {
    list-style-type: none;
    margin-left: -40px;
}

@media (min-width: 650px){
    .box {
        width: 60%;
    }
}

/* CATEGORIA */

.CategoriaContainer {
    width: 100%;
    height: 100vh;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 60px;
}

.CategoriaCadastro {
    width: 100%;
    height: 40%;
    border-bottom: 2px solid black;
}

.CategoriaCadastroErro ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: -10px;
    margin-top: -10px;
}

.CategoriaCadastro div {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.CategoriaCadastroAtivo {
    margin-left: -8px; 
}

.CategoriaCadastroBtn {
    margin-top: -30px;
}

.CategoriaLista {
    width: 100%;
    height: 60%;
    padding: 10px;
}

.CategoriaListaExibe {
    width: 100%;
    height: 47vh;
    overflow-y: auto;
}

.CategoriaListaExibe::-webkit-scrollbar {
    width: 8px;
}

.CategoriaListaExibe::-webkit-scrollbar-thumb {
    background-color: darkblue;
}

.listaLabel {
    padding: 5px;
}

.listaCheck {
    margin-top: 12px;
}

.lista {
    width: 100%;
    height: 40px;
    background-color: aqua;
    border-radius: 10px;
    padding: 7px 10px 7px 10px;
    margin-bottom: 5px;
}

.listaAtiva {
    float: right;
}

.erro {
    color: red;
    font-size: 12px;
}

@media (min-width: 768px) {
    .CategoriaContainer {
        height: 80vh;
    }

    .CategoriaCadastro {
        width: 40%;
        height: 100%;
        border: none;
        border-right: 2px solid black;
    }

    .CategoriaLista {
        width: 60%;
        height: 100%;
    }

    .CategoriaListaExibe {
        height: 68vh;
    }
}

/* PERFIL */

.perfilContainer {
    margin: 20px 0 60px 0;
}

/* Escritor */

.indexEscritorContainer {
    width: 100%;
    height: 80vh;
    padding-top: 10px;
}

.indexEscritorContainer p {
    float: right;
}

.indexEscritorLista {
    height: 78%;
    margin-top: 10px;
    overflow-y: auto;
}

.indexEscritorInfo {
    background-color: aqua;
    padding-top: 10px;
    border-radius: 15px;
    margin-top: 5px;
    padding-bottom: 8px;
}

@media (min-width: 768px) {
    .indexEscritorContainer {
        width: 80%;
        margin: auto;
    }

    .indexEscritorInfo {
        height: 60px;
    }

    .indexEscritorInfo span {
        margin-top: 8px;
        margin-left: 10px;
        float: left;
    }

    .indexEscritorInfo a {
        float: right;
        margin-right: 10px;
        margin-top: 1px;
    }
}

/* UPDATE ARTIGO */

.artigoContainer {
    margin: 20px 0 60px 0;
}

.listaCategoria {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}

.listaCategoriaSelecionada {
    padding: 5px;
    border: 1px solid black;
    width: 260px;
    height: 40px;
    margin: 0 10px 10px 0;
}

.listaCategoriaSelecionada input {
    float: right;
    background-color: white;
    border: none;
}

/* LISTA DE ARTIGOS ESCRITOR */

.divFiltro {
    width: 100%;
    height: 20%;
}

.divArtigos {
    width: 100%;
    height: 60%;
}

.divPage {
    width: 100%;
    height: 20%;
}

.divArtigosContainer {
    width: 100%;
    height: 80px;
    background-color: #eeeeee;
    display: flex;
    margin-top: 10px;
}

.artigoCapa {
    height: 100%;
    width: 25%;
}

.artigoCapa img {
    height: 60px;
    width: auto;
    margin: 10px 0 0 5px;
}

.artigoTexto {
    height: 100%;
    width: 50%;
    font-size: 1rem;
}

.artigoTexto p {
    float: left;
}

.artigoBtn {
    height: 100%;
    width: 25%;
    padding: 20px 0 0 3px;
}

@media (min-width: 768px) {
    .divArtigosContainer {
        height: 100px;
    }

    .artigoCapa {
        width: 20%;
    }

    .artigoCapa img {
        height: 90px;
        margin: 6px 0 0 5px;
    }

    .artigoTexto {
        width: 70%;
    }

    .artigoTexto p {
        margin: 35px 0 0 0;
    }

    .artigoBtn {
        width: 10%;
        padding: 30px 0 0 3px;
    }
}