/* GERAL */

footer {
    width: 100%;
    height: 50px;
    background-color: #1C1C1C;
    text-align: center;
    color: gray;
    position: fixed;
    bottom: 0;
}

footer p {
    margin-top: 14px;
}

/* PÁGINA DE LOGIN */

.box {
    width: 90%;
    margin: auto;
    margin-top: 80px;
    border: 1px solid purple;
    border-radius: 0 0 20px 20px;
    margin-bottom: 80px;
}

.boxTitle {
    text-align: center;
}

.boxTitle h3 {
    font-size: 1.5rem;
}

.boxBody {
    padding: 20px 20px 0 20px;
}

.estilo ul li {
    list-style-type: none;
    margin-left: -40px;
}

@media (min-width: 650px){
    .box {
        width: 60%;
    }
}

/* CATEGORIA */

.CategoriaContainer {
    width: 100%;
    height: 100vh;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 60px;
}

.CategoriaCadastro {
    width: 100%;
    height: 40%;
    border-bottom: 2px solid black;
}

.CategoriaCadastroErro ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: -10px;
    margin-top: -10px;
}

.CategoriaCadastro div {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.CategoriaCadastroAtivo {
    margin-left: -8px; 
}

.CategoriaCadastroBtn {
    margin-top: -30px;
}

.CategoriaLista {
    width: 100%;
    height: 60%;
    padding: 10px;
}

.CategoriaListaExibe {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.listaLabel {
    padding: 5px;
}

.listaCheck {
    margin-top: 12px;
}

.lista {
    width: 100%;
    height: 40px;
    background-color: aqua;
    border-radius: 10px;
    padding: 7px 10px 7px 10px;
    margin-bottom: 5px;
}

.listaAtiva {
    float: right;
}

@media (min-width: 768px) {
    .CategoriaContainer {
        height: 80vh;
    }

    .CategoriaCadastro {
        width: 40%;
        height: 100%;
        border: none;
        border-right: 2px solid black;
    }

    .CategoriaLista {
        width: 60%;
        height: 100%;
    }
}