@model Artigos.Models.ModelViewCategoria
@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
<div class="CategoriaContainer">
    <div class="CategoriaCadastro">
        <div id="form">
            <form>
                <span id="erro" class="erro"></span><br />
                @Html.LabelFor(m => m.NomeCategoria)
                <input type="text" class="form-control" id="nomeCategoria" />

                <div class="CategoriaCadastroAtivo">
                    @Html.LabelFor(m => m.Ativa)
                    <input type="checkbox" id="cbxCategoria" />
                </div>

                <div id="btnCriar" class="CategoriaCadastroBtn" style="display: block">
                    <div class="text-center">
                        <input type="submit" value="Criar" class="btn btn-info" onclick="Create()" />
                    </div>
                </div>

                <div id="btnUpdate" class="CategoriaCadastroBtn" style="display: none">
                    <div class="text-center">
                        <input type="submit" value="Atualizar" id="btnUp" class="btn btn-info" /> |
                        <a href="#" onclick="Sair()">Sair</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="CategoriaLista">
        <div class="form-group input-group">
            <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control" onkeyup="GetAll();">
            <label class="listaLabel">Desativadas </label><input class="listaCheck" id="cbx_consulta" type="checkbox" />
        </div>
        <div id="lista" class="CategoriaListaExibe">
            @*<a href="#">
                     <div class="lista">
                         <span class="listaNome">Banco de dados</span>
                         <span class="listaAtiva">Ativa: sim</span>
                     </div>
                </a>*@
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/Categoria.js"></script>

